body{
	margin: auto !important;
}

.header{
	background: #F7F7F7;
	text-align: center;
	padding: 15px;
}

.content{
	text-align: center;
	padding: 15px;
	margin-bottom: 60px;
}

.content h2{
	color: #333333;
}

a{
	color: #333333;
	font-size:20px;
	background: transparent;
    text-decoration: none;
}

a:link,a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

*, *:before, *:after {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.am-list-body {
	position: relative;
	background-color: #fff;
	border-bottom: 1PX solid #ddd;
}

.am-list-item {
	position: relative;
	display: flex;
	padding-left: 15px;
	min-height: 44px;
	background-color: #fff;
	vertical-align: middle;
	overflow: hidden;
	transition: background-color 200ms;
	align-items: center;
}

.am-list-item .am-list-line {
	position: relative;
	display: flex;
	flex: 1 1;
	align-self: stretch;
	padding-right: 15px;
	overflow: hidden;
}

.am-list-item .am-list-line-multiple {
	padding: 12.5px 15px 12.5px 0;
}

.am-list-item .am-list-line .am-list-content {
	flex: 1 1;
	color: #000;
	font-size: 17px;
	line-height: 1.5;
	text-align: left;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 7px;
	padding-bottom: 7px;
}
.am-list-item .am-list-line .am-list-brief {
	color: #888;
	font-size: 15px;
	line-height: 1.5;
	margin-top: 6px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.am-list-item .am-list-thumb:first-child {
	margin-right: 15px;
}

.btn-bottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 5px 15px;
}

.am-button {
	display: block;
	outline: 0 none;
	-webkit-appearance: none;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	font-size: 18px;
	height: 47px;
	line-height: 47px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	white-space: nowrap;
	color: #000;
	background-color: #fff;
	border: 1PX solid #ddd;
	border-radius: 5px;
}

.am-button-primary {
	color: #fff;
	background-color: #108ee9;
	border: 1PX solid #108ee9;
	border-radius: 5px;
}

.am-button-primary.am-button-active{
	color: rgb(255,255,255,0.3);
	background-color: #0e80d2;
}

.btn-bottom a {
	margin: 5px;
}


button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
