.tdpy-bg{
    background: #fdfdfd;
    height: auto;
    padding: 10px;
}

.tdpy-span{
    color: #4e555b;
    font-weight: 400;
}

.tdpy-card{
    border-radius: 5px;
    background: #f7f7f7;
    padding: 1px;
}

.tdp-remark{
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 0 0 5px;
}

.tdp-remark h3{
    color: #4e555b;
}

.tdp-remark p{
    color: #8f8f8f;
    font-size: 10px;
}

.dataWr{
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
    height: 150px;
    overflow-y: scroll;
    background: #f8f9fa;
    line-height: 1;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace!important;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e2022;
    background-clip: padding-box;
    border: 1px solid #d5dae2;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}