.bottom-p {
    text-align: center;
    color: #24bdd2;
    font-size: 17px;
    height: 60px;
}

.income-span {
    color: #24bdd2;
    /*letter-spacing: 0.02em;*/
}

.payout-span {
    color: #198fea;
}

.bottom-button-div {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fdfdfd;
    padding: 5px;
}

.bottom-button-div-left {
    width: 30%;
    float: left;
    /* padding: 0 2px; */
    margin-left: 10px;
}

.bottom-button-div-right {
    width: 60%;
    float: right;
    margin-right: 15px;
    padding: 0 2px;
}

.bottom-button-div-receive {
    background: #24bdd2;
    color: #fff;
    font-size: 14px;
}

.bottom-button-div-transfer {
    background: #198fea;
    color: #fff;
    font-size: 14px;
}

.transfer-nav-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.transfer-detail {
    height: 600px;
    border-radius: 15px;
    background: #f7f7f7;
    color: #333;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#ddd, direction=120, strength=4);
    -moz-box-shadow: 2px 2px 10px #ddd;
    -webkit-box-shadow: 2px 2px 10px #ddd;
    box-shadow: 2px 2px 10px #ddd;
}

.transfer-detail-bg {
    background: linear-gradient(to bottom,#198fea,#f7f7f7)
}

.transfer-detail-nav {
    background: linear-gradient(to bottom,#0061b8,#198fea)
}

.transfer-detail-indiv0{
    border-bottom: 1px dashed #ddd;
    height: 20%;
    margin: 0 15px 25px;
    text-align: center;
}

.transfer-detail-indiv0-icon{
    color: rgb(50, 161, 74);
    position: relative;
    top: 10px;
}

.transfer-detail-indiv0-span{
    color: rgb(136, 136, 136);
    position: relative;
    bottom: 10px;
    font-size: 12px;
}



.transfer-detail-indiv1{
    border-bottom: 1px dashed #ddd;
    height: 55%;
    margin: 0 15px 25px;
}

.transfer-detail-flex-content{
    flex-basis: 80%;
}

.transfer-detail-copy-icon{
    color: #cac4c4;
    width: 14px;
    height: 14px;
}

.transfer-detail-p{
    text-align: center;
}


/* transfer */

.coin {
    min-height: 120px;
    background: #fdfdfd;
    font-size: 14px;

}

.coin .title {
    height: 30px;
    line-height: 3;
    padding: 0px 15px;
}

.coin .title .left {
    width: 20%;
    float: left;
    text-align: left;
}

.coin .title .right {
    width: 80%;
    float: right;
    text-align: right;
    color: #008cec;
}

.coin .content {
    height: 70px;
}

.address {
    min-height: 135px;
    background: #fdfdfd;
    font-size: 14px;
    overflow: hidden;
}

.address .title {
    height: 30px;
    line-height: 3;
    padding: 0px 15px;
}

.address .title .left {
    width: 50%;
    float: left;
    text-align: left;
}

.address .title .right {
    width: 50%;
    float: right;
    text-align: right;
    color: #008cec;
}

.address .content {
    /*height: 70px;*/
    float: left;
    width: 100%;
}


.fee {
    padding: 15px 0;
    background: #fdfdfd;
    font-size: 14px;
    overflow: hidden;
    clear: both;
}

.fee .title {
    height: 30px;
    line-height: 1.8;
    padding: 0px 15px;
}

.fee .title .left {
    width: 20%;
    float: left;
    text-align: left;
}

.fee .title .right {
    width: 80%;
    float: left;
    text-align: left;
    color: #008cec;
}

.fee .content {
    height: 70px;
    float: left;
    width: 100%;
}

.transfer-receive-header{
    background: #1a92bb;
    height: 60px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
    color: #f7f7f7;
    padding: 40px 0px 30px;
}

.transfer-receive-body{
    background: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    padding: 0 45px;
}

.transfer-receive-icon{
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3px;
}

.transfer-receive-border{
    padding: 30px 15px 0px;

}

.transfer-receive-header-hash{
    overflow-wrap: break-word;
    padding: 5px 15px 20px;
    font-size: 12px;
}

.transfer-result-hash {
    overflow-wrap: break-word;
    font-size: 15px;
    color: #333;
    font-weight: 800;
    background: #f7f7f7;
    text-align: center;
    padding: 15px;
}

.transfer-bottom-button{
    position: fixed;
    bottom: 0;
    width: 97%;
    padding: 5px;
}

.am-tabs-default-bar .am-tabs-default-bar-animated .am-tabs-default-bar-top{
    background-color: #f7f7f7 !important;
}

.transfer-address{
    float: right;
    bottom: 152px;
    position: relative;
    color: #008cec;
}