.sub-title {
    color: #333;
    font-weight: 800;
    font-size: 15px;
    padding: 15px 0 9px 15px;
}

.sub-title2 {
    float: right;
    text-align: right;
    margin-right: 15px;
    color:#7f7d7d;
}

.not-square-grid .am-grid-icon {
    width: 40px;
    height: 60px;
}

.space-carousel {
    padding: 16px;
    background: #fdfdfd;
    overflow: hidden;
}

.dapp-icon{
    border: #ddd 1px solid;
    border-radius: 10px;
    padding: 5px 5px 3px;
    background: #fcfcfc;
    box-shadow: 1px 1px 9px #ddd;
}

.passwordInput{
    border: 1px solid #ddd;
    border-radius: 5px;
}

.h5-iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 45px 0 0;
    padding: 0;
    /*height: 100%;*/
    width: 100%;
    z-index: 100;
}

.dapp-img{
    width: 48px;
    height: 48px;
}

.popup-list{
    white-space: normal !important;
    /*text-align: center;*/
    font-size: 16px;
}

.popup-list a{
    color: rgb(16, 142, 233);
}

.browser-right{
    border-radius: 15px;
    padding: 5px 10px 1px;
    width: 60px;
}

.browser-right div:first-child{
    float: left;
    width: 30px;
}

.browser-right div:nth-child(3){
    float: right;
}


.ant-divider-vertical.ant-divider-dashed {
    border-width: 0 0 0 1px;
}

.ant-divider-dashed {
    background: none;
    border: dashed #f0f0f0;
    border-width: 1px 0 0;
}
.ant-divider, .ant-divider-vertical {
    position: relative;
    top: -.06em;
    display: inline-block;
    width: 1px;
    height: .9em;
    margin: 0 8px;
    vertical-align: middle;
}
.ant-divider {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    background: #f0f0f0;
}

/*.slider-frame{*/
/*    overflow: unset !important;*/
/*    height: unset !important;*/
/*}*/

/*.am-carousel{*/
/*    height: 300px !important;*/
/*}*/